{
  "presets": [
    [
      "env",
      {
        "modules": "commonjs"
      }
    ],
    "stage-2"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-2"
      ]
    }
  },
  "comments": false,
  "compact": false
}